a {
  text-decoration: none;
}

.user {
  &__card {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }

  &__img {
    width: 150px;
    height: 200px;
    border: 3px solid #000000;
    background-color: #888888;
  }

  &__name {
    color: #C4C4C4;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
  }
  &__contact{
   color: #000000;
    & a{
      color: #888888;
      font-style: italic;
    }
  }
}
