* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid #C4C4C4;
  margin-bottom: 50px;

  &__item {
    width: 300px;
    border-left: 2px solid #C4C4C4;
  }

  &__link {
    padding: 34px 10px 38px;
    display: block;
    font-size: 24px;
    color: #888888;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease,
  background-color 0.5s ease;
    &:hover{
      background-color: #000;
      color: #fff;
    }
  }
}
